RewriteEngine On
RewriteBase /front_controller/

# Redirigir todas las solicitudes al Front Controller (index.php)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]
